header {
    text-align: center;
    font-family: Franklin Gothic Medium;
    background-color:rgb(152, 212, 212);
    padding: 40px;
    font-size: 30px;
    letter-spacing: 0.1em;
    word-spacing: 0.5em;
    border: 0.5px black solid;
    color: rgb(65, 58, 58);
}

header img {
    height: 60px;
    position: absolute;
    margin-left: -40%;
    margin-top: 5px;
}

img:hover {
    opacity: 0.9;
    transform: scale(1.2);
}